* {
    margin: 0;
    padding: 0;
}
input, button {
    border: 0;
    outline: none;     /*  取消轮廓边框 */
}
ul {
    list-style: none;
}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?7yf4sd');
    src:  url('fonts/icomoon.eot?7yf4sd#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?7yf4sd') format('truetype'),
      url('fonts/icomoon.woff?7yf4sd') format('woff'),
      url('fonts/icomoon.svg?7yf4sd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
header {
     width: 100%;
     height: 990px;
     background: url(images/header.png) no-repeat;
     background-size: cover;
     overflow: hidden;
}
header h2 {
    margin-top: 210px;
    color: #fff;
    font-size: 46px;
    font-weight: 200;
    text-align: center;
    line-height: 46px;
}
header .describe {
    margin: 90px auto 0;
    width: 770px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;

}
header form {
    border: 1px solid #524e4b;
    width: 970px;
    height: 250px;
    margin: 104px auto 0;

}
header form .signUp {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 60px;
}
header form .free {
    font-size: 10px;
    color: #5d5a53;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
}
header form input[type = text] {
    height: 50px;
    width: 292px;
    box-sizing: border-box;
    border: 1px solid #5d5a53;
    padding-left: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin-left: 100px;
    margin-right: 30px; 
}
header form input[type = password] {
    height: 50px;
    width: 292px;
    box-sizing: border-box;
    border: 1px solid #5d5a53;
    padding-left: 18px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 30px; 
} 
header form input[type = button] {
    height: 50px;
    width: 120px;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    background-color: #fff;
}
.feature {
    width: 1030px;
    height: 710px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
} 
.feature .boatload {
    color: #141414;
    font-size: 10px;
    text-align: center;
    font-weight: 200;
    margin-top: 90px;
    line-height: 10px;
}
.feature .ready {
    font-size: 32px;
    color: #141414;
    text-align: center;
    font-weight: 100;
    margin-top: 44px;
}
.feature ul {
    position: relative;
    margin-top: 94px;
    width: 1030px;
    height: 392px;
    overflow: hidden;
}
.feature ul li {
    position: absolute;
    width: 430px;
}
.feature ul li:first-child {
    top: 0;
    left: 0;
}
.feature ul li:nth-child(2) {
    top: 0;
    right: 0;
}
.feature ul li:nth-child(3) {
    top: 168px;
    left: 0;
}
.feature ul li:nth-child(4) {
    top: 168px;
    right: 0;
}
.feature ul li .icon {
    font-family: 'icomoon';
    color: #141414;
    font-size: 48px;
    float: left;
}
.feature ul li .title {
    font-size: 16px;
    margin-left: 68px;
    color: #141414; 
}
.feature ul li .words {
    margin-left: 68px;
    font-size: 12px;
    color: #6e6e6e;
    line-height: 26px;
}
.support {
    width: 100%;
    height: 800px;
    background: url(images/support.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.support .title {
    font-size: 40px;
    width: 364px;
    font-weight: 100;
    color: #fff;
    position: absolute;
    top: 184px;
    left: 320px;
}
.support .words {
    font-size: 14px;
    color: #fff;
    width: 364px;
    line-height: 32px;
    position: absolute;
    top: 368px;
    left: 320px;
}
.support button:nth-of-type(1) {
    width: 240px;
    height: 60px;
    background-color: #fff;
    position: absolute;
    top: 554px;
    left: 320px;
}
.support button:nth-of-type(2) {
     width: 236px;
     height: 60px;
     background-color: rgba(0, 0, 0, 0);
     border: 1px solid #6a706a;
     color: #fff;
     position: absolute;
     top: 554px;
     left: 584px;
}
.produce {
    height: 580px;
    width: 966px;
    margin: 0 auto;
    overflow: hidden; 
}
.produce h2 {
    margin-top: 102px;
    font-size: 38px;
    font-weight: 200;
    text-align: center;
}
.produce .outter {
    width: 264px;
    margin-right: 100px;
    margin-top: 96px;
    float: left;
    text-align: center;
}
.produce .outter:nth-of-type(2) {
    width: 230px;
}
.produce .outter:nth-of-type(3) {
    margin-right: 0;
}
.produce .title {
    font-size: 34px;
    font-weight: 200;
}
.produce .words {
    margin-top: 40px;
    font-size: 12px;
    color: #838383;
    line-height: 26px;
}
.photos {
    width: 964px;
    overflow: hidden;
    margin: 0 auto 0;
}
.photos div {
    overflow: hidden;
}
.photos .photo1 img {
    float: left;
    margin-top: 116px;
}
.photos .photo2 img {
    float: right;
    margin-top: 80px;
    margin-bottom: 106px; 
}
.photos .photo1 .photo1Describe {
    float: right;
    width: 298px;
    margin-top: 192px;
}
.photos .photo2 .photo2Describe {
    float: left;
    width: 298px;
    margin-top: 152px;
}
.photos .photo1 .title,
.photos .photo2 .title {
    font-size: 14px;
    position: relative;
    line-height: 32px;
} 
.photos .photo1 .words,
.photos .photo2 .words {
    margin-top: 22px;
    font-size: 12px; 
    color: #838383;
    line-height: 28px;
}
.crew {
    height: 1084px;
    width: 964px;
    margin: 0 auto;
    overflow: hidden; 
}
.crew .title {
    margin-top: 100px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    line-height: 30px;  
}
.crew .words {
    width: 696px;
    font-size: 14px;
    color: #838383; 
    line-height: 28px;
    text-align: center;
    margin: 36px auto 0;
}
.crew img {
    display: inline-block;
}
footer {
    width: 100%;
    height: 410px;
    background-color: #141414;
}